<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-container">
    <div class="logo">
      <mat-icon>hotel</mat-icon>
      <span class="logo-text" routerLink="/home">HotelBooking</span>
    </div>

    <div class="navigation">
      <button mat-button routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-button routerLink="/search" routerLinkActive="active">
        <mat-icon>search</mat-icon>
        Search
      </button>
      @if (isLoggedIn) {
        <button mat-button routerLink="/my-bookings" routerLinkActive="active">
          <mat-icon>book</mat-icon>
          My Bookings
        </button>
      }
    </div>

    <div class="user-actions">
      @if (!isLoggedIn) {
        <button mat-raised-button color="primary" (click)="onLogin()">
          Login
        </button>
      } @else {
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{ userName }}</span>
          </button>
          <button mat-menu-item routerLink="/my-bookings">
            <mat-icon>book</mat-icon>
            <span>My Bookings</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      }
    </div>
  </div>
</mat-toolbar>
